{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
